html {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    background-color: #cce6ff;
}
body {
    width: 720px;
    margin: 0 auto;
    background-color: #f3f9ff;
    padding: 0 20px 20px 20px;
    border: 0px;
}
h1 {  
    font-size: 30px;
    font-weight:100;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #0066cc; 
    text-shadow: 1px 1px 0px black;
}
h2 {
    font-size: 22px;
    font-weight:normal;
    color:#0066ff;
}
p, li {
    font-size: 18px;
    /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
    font-weight:500;
}