html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #cce6ff;
}
body {
    width: 720px;
    margin: 0 auto;
    background-color: #f3f9ff;
    padding: 0 20px 20px 20px;
    border: 0px;
}
h1 {  
    font-size: 30px;
    font-weight:100;
    text-align: left;
    margin-top: 0px;
    
    color: #0066cc; 
    text-shadow: 1px 1px 0px black;
}
#name {
    margin-left: 280px;
    padding: 45px 0;
}
h2 {
    font-size: 22px;
    font-weight:normal;
    color:#0066ff;
    margin-left: 30px;
    margin-top: 20px; 
    margin-bottom: -10px; 
}
p, li {
    font-size: 18px;
    /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
    font-weight:500;
    margin-left: 70px;
}
li {
    list-style-type: circle;
}
.left-img {
    float: left;
    margin-top: -100px;
    margin-left: 30px;
    margin-bottom: 0px;
}
.next-to-img {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight:500;
    text-align: left;
    margin-left: 280px;
    margin-top: -45px;
    margin-bottom: 100px;
    padding-left: 0px;
}
.text-address {
  font-style: italic;
  padding-left: 2em;  
}
#img-avatar {
    width: 200px;
}
#img-xlab {
    width: 64px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
}

