html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #cce6ff;
}
body {
    width: 720px;
    margin: 0 auto;
    background-color: #f3f9ff;
    padding: 0 20px 20px 20px;
    border: 0px;
}
/*基本信息*/
.basic {
    margin: 0px 15px 250px 15px;
    padding: 45px 0px 0px 0px;
}
/*姓名*/
#name {
    font-size: 30px;
    font-weight:100;
    text-align:left;    
    color: #0066cc; 
    text-shadow: 1px 1px 0px black;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 280px;
}
/*照片*/
#img-avatar {
    width: 200px;
    float: left;
    margin: -35px 0px 0px 30px;
    padding: 0px 0px 0px 0px; 
}
/*联系方式（含地址）*/
.contact-info {
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1px;
    text-align: left;
    float: left;
    margin: 0px 0px 0px 50px;
    padding: 0px 0px 0px 0px;  
}
/*地址*/
.text-address {
    font-style: italic;
    letter-spacing: 0.4px;
}
/*小节标题*/
h2.text-main {
    font-size: 22px;
    font-weight:normal;
    letter-spacing: 1px;
    color:#0066ff;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 30px;
}
/*正文部分*/
p.text-main {
    font-size: 18px;
    font-weight:normal;
    /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 50px;
}
/*logo*/
.logo {
    width: 64px;
    margin: 30px 50px;
}
